body{
  background: #191B22;
}

nav{
  background: #393F4F;
  border-bottom: 3px solid #2B90D9;
}

a{
  color: #2B90D9;
}

.btn{
  background: #2B90D9;
}

.btn-primary{
  background: #2B90D9;
}

.desc{
  background: #282C37;
}

.counters{
  background: #393F4F !important;
  border-top: 5px solid #2B90D9;
  color: #FFFFFF !important;
}

.text-menu-color{
  color: #2B90D9 !important;
}

.logo{
  color: #2B90D9 !important;
  fill: #2B90D9 !important;
}
